/**
 * Reusable colours
 */

// general colours
$white: #fff;
$black: #000;

// theme colours
$highlight-colour: #f0882b;
$text-colour: #515365;
$text-colour--l: #888da8;
$main-bg: #f6f7fb;

// specific colours
$layout-border: #e6ecf5;
$body-text: $text-colour;
$heading-text: $text-colour;
